<beconcept-404 class="relative">
  <div class="space-top space-bottom flex items-center justify-center">
    <div class="mx-auto max-w-[40px]">
      <img
        class="w-full mx-auto"
        src="{{ 'umbragif.gif' | asset_url }}"
        width="60"
        height="60"
        alt=""
        loading="lazy"
      />
    </div>
  </div>
</beconcept-404>
{% schema %}
{
  "name": "404 Page",
  "class": "section-wrapper",
  "presets": [
    {
      "name": "404 Page",
      "category": "Beconcept"
    }
  ]
}
{% endschema %}
