<div class="page--container text-base">
  <section class="">
    <div class="div--container space-top space-bottom">
      <div class="grid grid-cols-2 gap-20">
        <div class="col-span-2 space-y-4">
          <h1 class="headline-l">Headline L</h1>
          <h1 class="h4">Headline M</h1>
          <h1 class="h5">Headline S</h1>
        </div>

        <div class="col-span-2 space-y-4">
          <p class="body-l">Body L</p>
          <p class="body-s">Body S</p>
        </div>

        <div class="col-span-2 space-y-4">
          <p class="label-l">Label L</p>
          <p class="label-s">Label S</p>
        </div>

        <div class="col-span-2 space-y-4">
          <p class="price-l">Price L</p>
          <p class="price-s">Price S</p>
        </div>

        <div class="col-span-2 space-y-4">
          <p class="note">Note</p>
          <p class="button">Button</p>
          <p class="caption">Caption</p>
        </div>
      </div>
    </div>
  </section>
  <section class="">
    <div class="div--container space-top space-bottom common--grid">
      <div class="lg:col-span-3 col-span-12 space-y-10">
        <div class="aspect-16-9 bg-black w-full flex items-center justify-center text-center text-white">16/9</div>
        <div class="aspect-9-16 bg-black w-full flex items-center justify-center text-center text-white">9/16</div>
      </div>
      <div class="lg:col-span-3 col-span-12 space-y-10">
        <div class="aspect-7-5 bg-black w-full flex items-center justify-center text-center text-white">2/3</div>
        <div class="aspect-5-7 bg-black w-full flex items-center justify-center text-center text-white">3/2</div>
      </div>
      <div class="lg:col-span-3 col-span-12 space-y-10">
        <div class="aspect-5-4 bg-black w-full flex items-center justify-center text-center text-white">7/5</div>
        <div class="aspect-4-5 bg-black w-full flex items-center justify-center text-center text-white">5/7</div>
      </div>
      <div class="lg:col-span-3 col-span-12 space-y-10">
        <div class="aspect-square bg-black w-full flex items-center justify-center text-center text-white">1/1</div>
      </div>
    </div>
  </section>
</div>
